* {
    margin: 0;
    font-family: "Inter", sans-serif;


}

body {
    background-color: #EAEDED;
}

.navbar {
    min-height: 60px;
    height: 100%;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-logo {
    min-height: 50px;
    height: 100%;
    max-width: 113px;
    width: 100%;
}

.navlogo {
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 113px;
    margin: 1px;
    padding: 1px 8px 0px 6px;

}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

/* for second box */
.nav-address {
    margin: 5px 2px 5px 0px;
    padding: 0px 9px;
}

.add-first {
    color: #cccccc;
    font-size: 0.75rem;

}

.add-sec {
    color: #ffffff;
    font-size: 0.875rem;
    margin-left: 2px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* box3 */
.nav-search {
    display: flex;
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%; */
    min-width: none;
    width: 60%;
    max-width: 3318px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
    /* padding: 10px 4px 10px 3px; */
    border: none;
}

.search-select {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;

}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(252, 144, 3);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

.nav-search:hover {
    border: 2px solid orange;
}

/* Box 4 */
span {
    font-size: 0.7rem;

}

.second-class {
    font-size: 0.85;
    font-weight: 700;
}

/* Box-6 */
.nav-cart i {
    font-size: 32px;
}

.nav-cart {
    font-size: o.85rem;
    font-weight: 700;
}

/* Pannel */

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops a {
    font-size: 0.85rem;
    margin-left: 15px;

}

.panel-ops {
    width: 70%;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

/* Hero section  */
.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section {
    background-image: url("amazonheroimage.jpg");
    background-size: cover;
    max-width: 1500px;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.hero-message {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 100%;
    margin-bottom: 30px;
    margin-left: 23px;
    margin-right: 23px;
}

.hero-message a {
    color: #007185;
}


/* Shop section */
.page-container {
    max-width: 1500px;
    /* Amazon-like width */
    margin: 0 auto;
    /* center the page */
}

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;

}

.amazon-box {
    width: 23%;
    height: 400px;
    background: white;
    padding: 20px 0px 15px;
    font-family: Arial, sans-serif;
    margin-top: 15px;

}

.grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: none;
    column-gap: none;
}

.item img {
    width: 80%;
    height: 115.85px;
    object-fit: cover;
    padding-left: 15px;
    margin-top: 16px;
}

.item p {
    padding-left: 15px;
    font-size: 12px;
    margin-top: 5px;
    font-family: Arial, sans-serif;
}

.box-title {
    padding-left: 15px;
    font-size: 21px;
    font-family: Arial, sans-serif;
}

.bottom-link {
    font-size: 13px;
    padding-left: 15px;
    color: #2162a1;
    text-decoration: none;
}

.box {
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;

}

.shop-image {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;


}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p {
    color: #007185;
    font-size: 12px;
    font-family: Arial, sans-serif;

}

.box-content h2 {
    font-size: 21px;
    font-family: Arial, sans-serif;
}

/* Row 3 */
.wide-slider {
    max-width: 1460px;
    width: 100%;
    background: #ffffff;
    padding: 20px;
    margin: 20px 24px 0px 24px;
    position: relative;
    overflow: hidden;
}

.arrow {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%) scale(0.9);
    transition: opacity 0.3s ease, transform 0.9s ease;
    transition-delay: 0.5s;
}

.wide-slider:hover .arrow {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(-50%) scale(1);
}

.wide-slider h2 {
    margin-bottom: 15px;
    font-size: 1.3rem;
    padding-left: 10px;
}

.slider-container {
    display: flex;
    overflow-x: auto;
    /* Horizontal scroll */
    overflow-y: hidden;
    /* Verticle control*/
    gap: 20px;
    padding: 10px;
    scroll-behavior: smooth;
    white-space: nowrap;
}

/* .slider-container::-webkit-scrollbar {
    height: 0.5rem;
} */

.slider-container img {
    height: 200px;
    width: 150px;
    object-fit: contain;
    flex-shrink: 0;
    /* Prevent images from shrinking */
    cursor: pointer;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 80px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.arrow.left {
    left: 0;
}

.arrow.right {
    right: 0;
}


/* Footer panel */
footer {
    margin-top: 15px;
}

.footer-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-panel2 {
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}

.second-last {
    margin-top: 15px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 15px;
    color: #DDDDDD;
}

ul p {
    margin: 6px 0px 14px;
    font-size: 1rem;
}

.footer-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.1px solid white;
    display: flex;
    justify-content: center;
    height: 70px;
}

.logo {
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100px;
    background-size: cover;
    margin-top: 10px;

}

/* footer4 */
.footer-panel4 {
    background-color: #0f1111;
    color: white;
    height: 100px;
    padding: 10px 0px 30px;
    font-size: 0.7rem;
    text-align: center;
}

.copyright {
    padding: 5px;


}